<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.xiaoyv.blueprint.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidBlueprint"
        android:usesCleartextTraffic="true"
        tools:ignore="AllowBackup">

        <activity
            android:name="com.xiaoyv.blueprint.main.MainActivity"
            android:configChanges="screenSize|orientation|keyboard|keyboardHidden"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.xiaoyv.blueprint.activity.WebActivity" />
        <activity android:name="com.xiaoyv.blueprint.activity.MvvmTestActivity" />
        <activity android:name="com.xiaoyv.blueprint.NavActivity" />
        <activity android:name="com.xiaoyv.blueprint.activity.DownloadActivity" />
        <activity android:name="com.xiaoyv.blueprint.activity.CropActivity" />
    </application>

</manifest>